/datasets/
/__pycache__/
/.vscode/
/figs/
/results/
/old_results/
temp.py
*.png
*.ipynb
*.txt
*.npy
TODO.txt

!all_coupled.npy
!all_decoupled.npy
!translation_coupled.npy
!translation_decoupled.npy
!rotation_coupled.npy
!rotation_decoupled.npy
!scale_coupled.npy
!scale_decoupled.npy